@{
    ViewData["Title"] = "Home Page";
}
@* 
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@

<div>
    <div style="display:flex;justify-content:space-between; align-content:center">
        <h2>Welcome to MVC Tutorial</h2>
        <a style="font-size:1.5rem;background-color:cornflowerblue;color:brown" href="/Login/Register">Register</a>
        <a style="font-size:1.5rem;background-color:cornflowerblue;color:brown" href="/Login/UserLogin">Login</a>
    </div>
    <img style="justify-content: center; align-content: center;width:20rem;height:20rem" src="https://www.esparkinfo.com/wp-content/uploads/2022/01/MVC-Architecture.png" alt=""></img>

</div>
